header.initial 
    .header-conteiner
        nav.initial__menu 
            .initial__menu-label
                .label_img 
                    a.home(href='#')
                        img.logo(src="./assets/imgs/logo.svg", alt="")
                .label_text DOG
            .initial__menu-list
                ul.nav
                    li.nav-list
                        a(href="#") Products
                    li.nav-list
                        a(href="#") Dog Care
                    li.nav-list
                        a(href="#") About
                    li.nav-list
                        a(href="#") Popular
            .initial__menu-tools
                .tools-search
                    a.search(href='#')
                        img.tool(src="./assets/imgs/search.png", alt="")
                .tools-search
                    a.search(href='#')
                        img.tool(src="./assets/imgs/basket.png", alt="")
                .tools-search
                    a.search(href='#')
                        img.tool(src="./assets/imgs/burger.png", alt="")
        div.initial__title 
            .initial__title-text
                .title-text Dog is my Copilot.
                .title-btn 
                    a.btn-ornge(href="#") Buy Now
                    a.btn-ornge(href="#") See Details
            .initial__title-picture
                img.title(src="./assets/imgs/dog.png", alt="")  